Package: com.everettjf.wechatvideodownloader
Name: wechatvideodownloader
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A WeChat video downloader
Maintainer: everettjf
Author: everettjf
Section: Tweaks
Version: 0.0.1-31
Installed-Size: 136
